<?xml version="1.0"?>

<!DOCTYPE scatterer>

<!-- weights: absorption, scattering, transmission -->
<homogeneous_scatterer mcweights="0, 1, 0">
  
  <E_Q_Kernel 
     E_Q="$E_Q$" 
     S_Q="$S_Q$" 
     Qmin="$Qmin$/angstrom"
     Qmax="$Qmax$/angstrom"
     />
  
</homogeneous_scatterer>

